{% load static %}
{% load mptt_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_BIDI %} 
<!DOCTYPE html>

<html lang="ar" dir="rtl">


<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>{% trans "Metronic Shop UI" %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">
  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-">                 <!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">
  <link rel="icon" type="image/x-icon" href="{% static 'assets/pages/img/brands/esprit.jpg' %}">
  <!-- <link rel="shortcut icon" href="{% static 'favicon.ico' %}"> -->

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->  
  <!-- Fonts END -->
 
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>  

  <!-- Global styles START -->          
  <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Global styles END --> 
   


  <!-- Page level plugin styles START -->
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"><!-- for slider-range -->
  <link href="{% static 'assets/pages/css/animate.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/plugins/rateit/src/rateit.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin styles END -->



  <!-- Theme styles START -->
  <link href="{% static 'assets/pages/css/components.css' %}" rel="stylesheet">
  <link href="{% static 'assets/pages/css/slider.css' %}" rel="stylesheet">
  <link href="{% static 'assets/pages/css/style-shop.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/corporate/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/corporate/css/style-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'assets/corporate/css/themes/red.css' %}" rel="stylesheet" id="style-color">
  <link href="{% static 'assets/corporate/css/custom.css' %}" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce" >
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="color-panel hidden-sm">
      <div class="color-mode-icons icon-color"></div>
      <div class="color-mode-icons icon-color-close"></div>
      <div class="color-mode">
        <p>{% trans "THEME COLOR" %}  </p>
        <ul class="inline">
          <li class="color-red current color-default" data-style="red"></li>
          <li class="color-blue" data-style="blue"></li>
          <li class="color-green" data-style="green"></li>
          <li class="color-orange" data-style="orange"></li>
          <li class="color-gray" data-style="gray"></li>
          <li class="color-turquoise" data-style="turquoise"></li>
        </ul>
      </div>
    </div>
    <!-- END BEGIN STYLE CUSTOMIZER --> 

    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
                        <!-- BEGIN CURRENCIES -->
                        <li class="shop-currencies">
                            <a href="javascript:void(0);">€</a>
                            <a href="javascript:void(0);">£</a>
                            <a href="javascript:void(0);" class="current">$</a>
                        </li>
                        <!-- END CURRENCIES -->
                        <!-- BEGIN LANGS -->
                        <li class="langs-block">
                            <a href="javascript:void(0);" class="current">{% trans "languages" %} </a>
                            <div class="langs-block-others-wrapper"><div class="langs-block-others">
                              {% get_current_language as LANGUAGE_CODE %}
                              {% get_available_languages as LANGUAGES %}
                              {% get_language_info_list for LANGUAGES as languages %}
                              {% for language in languages %}
                              <a href="/{{language.code}}">{{language.name_local}}</a>
                              {% endfor %}
                              <!-- <a href="javascript:void(0);">Germany</a>
                              <a href="javascript:void(0);">Turkish</a> -->
                            </div></div>
                        </li>
                        <!-- END LANGS -->
                    </ul>
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="shop-account.html">{% trans "My Account" %} </a></li>
                        <li><a href="shop-wishlist.html">{% trans "My Wishlist" %} </a></li>
                        <li><a href="shop-checkout.html">{% trans "Checkout" %} </a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}">{% trans " Log Out" %}</a></li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}">{% trans "Log in" %} </a></li>
                        <li><a href="{% url 'accounts:register' %}">{% trans "Sign up" %}</a></li>
                        {% endif %}

                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>
    <!-- END TOP BAR -->

    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="{% url 'product:index' %}"><img src="{% static 'assets/corporate/img/logos/logo-shop-red.png' %}" alt="Metronic Shop UI"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN CART -->
        <div class="top-cart-block">
          <div class="top-cart-info">
            <a href="javascript:void(0);" class="top-cart-info-count">{{Cart_objects|length}} {% trans "items" %}</a>
            <a href="javascript:void(0);" class="top-cart-info-value">{{total_price}} LE</a>
          </div>
          <i class="fa fa-shopping-cart"></i>
                        
          <div class="top-cart-content-wrapper">
            {% if Cart_objects %}
            <div class="top-cart-content">
              <ul class="scroller" style="height: calc({{Cart_objects|length}} * 55px) ;">
                {% for key , value in Cart_objects.items %}

                <li>
                  <a href="shop-item.html"><img src="{{value.image}}" alt="Rolex Classic Watch" width="37" height="34"></a>
                  <span class="cart-content-count">x {{value.quantity}}</span>
                  <strong><a href="shop-item.html">{{value.name}}</a></strong>
                  <em>{{value.price}} LE</em>
                  <a href="{% url 'order:delete' value.slug %}" class="del-goods">&nbsp;</a>
                </li>
                {% endfor %}
              </ul>
              <div class="text-right">
                <a href="{% url 'order:cart' %}" class="btn btn-default">{% trans "View Cart" %}</a>
                <a href="shop-checkout.html" class="btn btn-primary">{% trans "Checkout" %}</a>
              </div>
            </div>
            {% endif %}
          </div>            
        </div>
        <!--END CART -->

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                {% trans "Offers" %}
              </a>
              <!-- BEGIN DROPDOWN MENU -->
              <!-- END DROPDOWN MENU -->
            </li>
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                {% trans "About Us" %}
              </a>
            </li>
            <li><a href="shop-item.html">{% trans "Kids" %}</a></li>
            <li class="dropdown dropdown100 nav-catalogue">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                {% trans "New" %}
                
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      {% for product in products|slice:'4' %}
                      <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="product-item">
                          <div class="pi-img-wrapper">
                            <a href="{{product.get_absolute_url}}"><img src="{{product.pro_image}}" class="img-responsive" alt="Berry Lace Dress"></a>
                          </div>
                          <h3><a href="{{product.get_absolute_url}}">{{product.pro_name}}</a></h3>
                          <div class="pi-price">{{product.pro_total_price}} LE</div>
                          <a href="javascript:;" class="btn btn-default add2cart">{% trans "favourite" %}</a>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                {% trans "Category" %} 
              </a>
              <ul class="dropdown-menu">
                {% for cat in category %}
                <!-- <li class="active"><a href="shop-index.html">{{cat.cat_name}}</a></li> -->
                {% if cat.parent == None %}
                <li><a href="{% url 'product:productlist' %}">{{cat.cat_name}}</a></li>
                {% endif %}
                {% endfor%}
              </ul>
            </li>
            
          

            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="{% url 'product:product_search' %}" method="get" >
                  <div class="input-group">
                    <input  name="q" type="text" placeholder="{% trans 'Search' %}" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>